# Dependency directories
node_modules/

# Build outputs
dist/
tmp/
out-tsc/

# IDE/Editor configs
.idea/
.project
.classpath
.cproject
.settings/
.vscode/

# System and logs
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/
